# .ebextensions/01-ebs.config
# Pass kafka advertised host to the container
option_settings:
  - option_name: ADVERTISED_HOST
    value: ADVERTISED_HOST
  - option_name: ADVERTISED_PORT
    value: ADVERTISED_PORT
  - option_name: LOG_RETENTION_HOURS
    value: LOG_RETENTION_HOURS

container_commands:
  container_commands:
    01mount:
      command: "[[ -b /dev/sdh ]] && aws ec2 attach-volume --volume-id ${EBS_VOLUME_ID} --instance-id $(curl -s http://169.254.169.254/latest/meta-data/instance-id) --device /dev/sdh"
      ignoreErrors: true
    02wait:
      command: "sleep 10"
    03mkdir:
      command: "mkdir /media/ebs_volume/kafka-logs && mkdir /media/ebs_volume/zoo-logs"
      test: "[ ! -d /media/ebs_volume ]"
    04mount:
      command: "mount /dev/sdh /media/ebs_volume"
      test: "! mountpoint -q /dev/sdh"
